        * {
            margin: 0;
            padding: 0;
        }
        
        .login-form {
            justify-content: center;
            display: flex;
            margin-top: 5%;
        }
        
        .usuario {
            justify-content: center;
            display: flex;
            margin-top: 10%;
        }
        
        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        
        .grade-controle {
            display: flexbox;
            width: 40%;
            margin-top: 10%;
            margin-left: 40%;
        }
        
        .load-g {
            margin-top: 15%;
            margin-left: 43%;
        }